/*** MATERIAL DESIGN COLORS --- USE THESE **
	INCLUDE THESE AT THE END OF YOUR CLASSNAMES FOR DESIRED COLORS
*/
.mdl-bgcolor--secondary {
	background: #a33a51;
}

.mdl-bgcolor--secondary-light {
	background: #d8697d;
}

.mdl-bgcolor--secondary-dark {
	background: #700029;
}

.mdl-bgcolor--primary {
	background: #2a5d6e;
}

.mdl-bgcolor--primary-light {
	background: #598a9c;
}

.mdl-bgcolor--primary-dark {
	background: #003343;
}
