/*** MATERIAL DESIGN COLORS --- USE THESE **
	INCLUDE THESE AT THE END OF YOUR CLASSNAMES FOR DESIRED COLORS
*/
.mdl-bgcolor--secondary {
	background: #a33a51;
}

.mdl-bgcolor--secondary-light {
	background: #d8697d;
}

.mdl-bgcolor--secondary-dark {
	background: #700029;
}

.mdl-bgcolor--primary {
	background: #295c6d;
}

.mdl-bgcolor--primary-light {
	background: #58899b;
}

.mdl-bgcolor--primary-dark {
	background: #003242;
}

.mdl-bgcolor--primarygrey {
	background: #e1e2e1;
}

.mdl-bgcolor--secondarygrey {
	background: #f5f5f6;
}
