.mdl-card_searchList {
    height: 200px;
    background: url('https://dummyimage.com/318X180/b3b3b3/fff.png') top;
    background-size: cover;
    color: #fff;
    border-bottom: 3px solid #58899b;
}
.mdl-card_z {
    z-index: unset;
}
.bold{
   font-weight: bold;
    margin: 8px 0;
    color: #295c6d;
}
.mdl-button{
    float: right;
}
.mdl-chip{
    background: #d8697d;
    color: #fff;
}
.mdl-button.mdl-button--colored{
    color: #295c6d;
}
.mdl-button.mdl-button--colored:hover{
    color: #fff;
    background: #d8697d;
}
.mdl-card__supporting-text{
    
}
.paypal{
    float: right;
}