.mdl-card_searchList {
    height: 200px;
    background: #e1e2e1;
    color: #fff;
    border-bottom: 3px solid #58899b;
}
.card-image{
    position: absolute;
    border-radius: 50%;
    left: 30%;
    top: 5%;
}
.mdl-card_modal_img {
    position: relative;
    left: 5%;
    border-radius: 50%;
    bottom: 10%;
}
.mdl-card_modal {
    height: 200px;
    background-color: #295c6d;
    color: #fff;
    border-bottom: 3px solid #d8697d;
}
.mdl-card_z {
    z-index: unset;
}
.bold{
   font-weight: bold;
    margin: 8px 0;
    color: #295c6d;
}
.mdl-button{
    float: right;
}
.mdl-chip{
    background: #d8697d;
    color: #fff;
}
.mdl-button.mdl-button--colored{
    color: #295c6d;
}
.mdl-button.mdl-button--colored:hover{
    color: #fff;
    background: #d8697d;
}
.mdl-card__supporting-text{
    overflow: visible;
}
.paypal{
    float: right;
}