.carousel-inner img {
    width: 100%; /* Set width to 100% */
    opacity: 0.6;
    margin: auto;
}

/*mobile screen size*/
@media (max-width: 415px) {
    .carousel-inner img {
        width: 294vw;
        height: 64vh;
        opacity: 0.6;
        margin-left: -97%;
    }
    .sub {
        color: #003242;
        font-size: 150%;
        line-height: 138%;
        margin-bottom: 4%;
    }

    .title {
        color: #003242;
        line-height: 82%;
        font-size: 253%;
        font-weight: 200px;

    }

    .test {
        position: absolute;
        top: 20%;
    }

    input[type=text], select {
        width: 80%;
        padding: 5% 1.4%;
        margin: 0% 11%;
        display: inline-block;
        border: 1px solid #d8697d;
        border-radius: 5px;
        height: 94%;
        opacity: initial;
    }

    .body {
        border-radius: 5px;
        margin-left: 7%;
        width: 63%;
        height: 6%;
    }
    .buttonSize {
        height: 100%;
        font-size: 76%;
        margin-top: -25%;
        margin-right: -138%;
    }
}

/*iPhone 5 size only*/
@media (max-width: 321px) {
    .carousel-inner img {
        width: 170vh;
        height: 64vh;
        opacity: 0.6;
        margin-left: -100%;
    }
    .sub {
        color: #003242;
        font-size: 150%;
        margin-bottom: 6%;
        line-height: 144%;
    }

    .title {
        color: #003242;
        font-size: 178%;
        font-weight: 200px;
        line-height: 98%;
    }

    .test {
        position: absolute;
        top: 20%;
    }

    input[type=text], select {
        width: 98.2%;
        padding: 5% 1.4%;
        margin: 0% 11% 0% 1%;
        display: inline-block;
        border: 1px solid #d8697d;
        border-radius: 5px;
        height: 94%;
        opacity: initial;
    }

    .body {
        border-radius: 5px;
        margin-left: 2%;
        margin-top: -2%;
        width: 62%;
        height: 10%;
    }
    .buttonSize {
        height: 96%;
        font-size: 76%;
        margin-top: -33%;
        margin-right: -150%;
    }
}

/*Ipad and Ipad Pro screen size*/
@media only screen and (max-width: 1024px) and (min-width: 767px) {
    .carousel-inner img {
        height: 66vh;
        width: 234vw;
        margin-left: -68%;
    }
    .sub {
        color: #003242;
        font-size: 242%;
        margin-top: 4%;
        margin-bottom: 8%;
    }

    .title {
        color: #003242;
        font-size: 395%;
        line-height: 84%;
        margin-top: 14%;
        font-weight: 200px;

    }

    .test {
        position: absolute;
        top: 10%;
    }

    input[type=text], select {
        width: 97.9%;
        padding: 5% 1.4%;
        margin: 0% 11% 0% 1%;
        display: inline-block;
        border: 1px solid #d8697d;
        border-radius: 5px;
        height: 36%;
        opacity: initial;
    }

    .body {
        border-radius: 5px;
        margin-left: 14%;
        margin-top: -2%;
        width: 60%;
        height: 6%;
    }

    .buttonSize {
        height:95%;
        font-size: 80%;
        margin-top: -17%;
        margin-right: -124.2%;
    }
}

/*other than mobile screen size*/
@media (min-width: 1025px) {
    .sub {
        color: #003242;
        font-size: 212%;
        font-weight: bold;
        margin-bottom: 2.5%;
        line-height: 98%;
        width: 100%;
    }

    .title {
        color: #003242;
        font-size: 380%;
        font-weight: 200px;
        width: 100%;
        margin-bottom: 2%;
        line-height: 88%;
    }

    .test {
        position: absolute;
        top: 25%;
    }

    input[type=text], select {
        width: 80%;
        padding: 2% 2.4%;
        margin: 1% 1%;
        display: inline-block;
        border: 1px solid #d8697d;
        border-radius: 5px;
        height: 5.2vh;
        opacity: initial;
    }

    .body {
        border-radius: 5px;
        padding-right: 7%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        margin-left: 19%;
        margin-top: 2%;
        width: 60%;
        height: auto;
        background: rgba(41, 92, 109, 0.5);
    }

    .buttonSize {
        height: 5vh;
        font-size: 177%;
        margin-top: -0.5%;
        margin-right: -11%;
        width: 25%;
    }
}

.buttonSize:hover {
    background-color: #d8697d;
}

.title, .sub {
    color: #003242;
}
