.carousel-inner img {
    width: 100%; /* Set width to 100% */
    opacity: 0.6;
    margin: auto;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.test {
    position: absolute;
    top: 25%;
}

h5 {
    color: #003242;
    font-size: 220%;
    font-weight: bold;
    margin-bottom: 2.5%;
}

h1 {
    color: #003242;
    font-size: 420%;
    font-weight: bold;
}

input[type=text], select {
    width: 80%;
    padding: 2% 2.4%;
    margin: 1% 1%;
    display: inline-block;
    border: 1px solid #d8697d;
    border-radius: 5px;
    height: 5.2vh;
    opacity: initial;
}

.body{
    border-radius: 5px;
    padding: 1%;
    margin: auto;
    width: 60%;
    height: auto;
    background: rgba(41, 92, 109, 0.5);
}

.buttonSize {
    height: 5vh;
    font-size: 140%;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.buttonSize:hover {
    background-color: #d8697d;
}