.c-modal {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

.c-modal-content {
    margin: auto;
    padding: 24px 24px 8px 24px;
    background-color: white;
    width: 40vw;
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2),
        0 40px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

.c-modal-content p:first-child {
    font-size: 1.8em;
    font-weight: bold;
}

.c-modal-content p:nth-child(2) {
    font-size: 1.5em;
    color: #717171;
}

.mr-6{
    margin-right: 8px;
}

.right {
    float: right;
}

.materialFormBorders {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-bottom: 2px #2A5D6E solid;
}

.c-btn {
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: transparent;
}

.c-btn:hover {
    color: #A33A51;
}