.navbar-brand {
    font-size: 200%;
    color: white;
    margin-bottom: 0.4%;
    font-weight: bold;
}

.nav-link {
    font-size: 130%;
    color: white;
}

.login{
    background-color: #d8697d;
}

.register{
    background-color: #598a9c;
}

.login:hover {
    background-color: #d8697d;
}

.register:hover {
    background-color: #598a9c;
}

@media only screen and (max-width: 500px) {
    .login{
        margin-bottom: 8px;
    }
}