.logo {
    font-size: 200%;
    color: white;
    margin-bottom: 0.2%;
    font-weight: bold;
}

.nav-link {
    font-size: 130%;
}

.login {
    background-color: #d8697d;
    margin: auto;
}

.register {
    background-color: #598a9c;
    margin: auto;
}

.login:hover {
    background-color: #d8697d;
}

.register:hover {
    background-color: #598a9c;
}

@media only screen and (max-width: 500px) {
    .login {
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 1024px) {
    .nav-link {
        font-size: 117%;
    }
}