import firebase from 'firebase';

// Initialize Firebase
var config = {
	apiKey: 'string',
	authDomain: 'string',
	databaseURL: 'string',
	projectId: 'string',
	storageBucket: 'string',
	messagingSenderId: 'num'
};
firebase.initializeApp(config);

export const db = firebase.database();

export const auth = firebase.auth();
